h1 {
   color: darkblue;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    color: darkcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgb(240, 250, 250);
}